<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.4/css/bulma.min.css">
    <title><%= title %></title>
</head>
<body>
    <nav class="navbar" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
          <a class="navbar-item" href="/players">
            <img class="image is-64x64" src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9RH-zdVpPGuiO0ycb5wcm9a1WQvKpVQsKdw&usqp=CAU ">
          </a>
    
          <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
            <span aria-hidden="true"></span>
          </a>
        </div>
    
        <div id="navbarBasicExample" class="navbar-menu">
          <div class="navbar-start">
            <a class="navbar-item" href="/nations">
              Nations
            </a>
    
            <a class="navbar-item" href="/players">
              Players
            </a>
          </div>
    
          <div class="navbar-end">
            <div class="navbar-item">
              <div class="buttons">
                <a class="button is-primary">
                  <strong>Sign up</strong>
                </a>
                <a class="button is-light">
                  Log in
                </a>
              </div>
            </div>
          </div>
        </div>
      </nav>
      <div class="container">
        <div class="columns">
          <div class="column">
            <form method="post">
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Name</label>
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">
                      <input class="input is-info" name="name" type="text" value="<%= player.name %>" required >
                    </div>
                  </div>
                </div>
              </div>
              <div class="field is-horizontal">
                <div class="field-label is-normal">
                  <label class="label">Club</label>
                </div>
                <div class="field-body">
                  <div class="field is-narrow">
                    <div class="control">
                      <div class="select is-fullwidth">
                        <select name="club">
                            <%for (let club of clubList){ %>
                                <option value="<%= club.name %>" 
                                <%= JSON.stringify(club.name) === JSON.stringify(player.club) ? 'selected' : '' %>
                                ><%= club.name %> 
                                </option> 
                                <% } %>
      
                        </select>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Position</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select name="position">
                                    <%for (let position of positionData) { %>
                                        <option value="<%= position.name %>"
                                            <%= JSON.stringify(position.name) === JSON.stringify(player.position) ? 'selected' : ''  %>    
                                        ><%= position.name %>
                                        </option>
                                        <% } %>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Image</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input is-info" name="image" type="text" value="<%= player.image %>" required>
                        </div>

                    </div>
                </div>
            </div>
            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Goals</label>
                </div>
                <div class="field-body">
                    <div class="field">
                        <div class="control">
                            <input class="input is-info" name="goals" type="number" min="0"
                                value="<%= player.goals %>" required>
                        </div>

                    </div>
                </div>
            </div>

            <div class="field is-horizontal">
                <div class="field-label is-normal">
                    <label class="label">Captain</label>
                </div>
                <div class="field-body">
                    <div class="field is-narrow">
                        <div class="control">
                            <div class="select is-fullwidth">
                                <select name="isCaptain">
                                    <%for (let captain of isCaptainData) { %>
                                        <option value="<%= captain.name %>"
                                            <%= JSON.stringify(captain.name) === JSON.stringify(player.isCaptain) ? 'selected' : ''  %> 
                                            >
                                            <%= captain.name %>
                                        </option>
                                        <% } %>
                                </select>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

              <div class="field is-horizontal">
                <div class="field-label is-normal">
                </div>
                <div class="field-body">
                  <div class="field">
                    <div class="control">

                      <button class="button is-primary" type="submit">
                        Save
                      </button>

                      <a href="/players" class="button is-danger">
                        Back
                      </a>
                      
                    </div>
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
    
      </div>
</body>
</html>